.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    
    .cartItemInfo {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nameAndPrice {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cartItemPrice {
                font-weight: 500;
            }
        }

        .sizeButtons {
            .size {
                margin-right: 8px;
            }
        }
    }

    .quantityAndImage {
        display: flex;
        flex-direction: row;

        .quantity {
            margin-right: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }

    .smallButton {
        height: 24px;
        width: 24px;
        background: transparent;
        border: 1px solid black;
        font-size: 16px;
    }
}