.productContainer {
    width: 90%;
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;

    .sideImages {
        width: 10%;
        display: flex;
        flex-direction: column;

        .sideImage {
            width: 80px;
            height: 80px;
            margin-bottom: 32px;
        }
    }

    .productImage {
        background-color: #5ECE7B;
        width: 610px; 
    }

    .productDetails {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 100px;

        .titleContainer {

            .productPageTitle {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            .productPageTitle2 {
                font-size: 30px;
                font-weight: 400;
            }
        }

        .productSizeContainer {

            .productSize {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 700;
            }

            .productSizeButtons {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 8px;

                .sizeButton {
                    height: 45px;
                    width: 63px;
                    border: 1px solid black;
                    background: transparent;
                }
            }
        }

        .productPriceContainer {

            .productPrice {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .productPriceNumber {
                font-size: 24px;
                font-weight: 700;
            }

        }

        .productAddToCart {
            width: 90%;
            height: 52px;
            border: none;
            background-color: #5ECE7B;
            color: white;
            font-size: 16px;
            font-weight: 600;
        }

        .productDescription {
            width: 90%;
            font-family: 'Roboto', sans-serif;
            line-height: 25px;
        }

    }
}