.currenciesContainer {
  width: 115px;
  height: 170px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  margin-top: 60px;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 20px;
  z-index: 10;
  background-color: white;

  .currency {
    font-size: 18px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: #5ece7b;
    }
  }
}
