.categoryContainer {
  display: flex;
  flex-direction: column;

  .categoryTitle {
    font-size: 42px;
    font-weight: 400;
    margin-top: 80px;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  .cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
