.cartItem {
  height: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(187, 187, 187, 0.5);
  padding: 20px 0;

  .cartItemInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cartItemName {
      font-size: 30px;
      font-weight: 600;
    }

    .cartItemBrand {
      font-size: 30px;
      font-weight: 400;
    }

    .cartItemPrice {
      font-size: 24px;
      font-weight: 700;
    }

    .attributes {
      display: flex;
      flex-direction: row;

      .attribute {
        height: 45px;
        min-width: 45px;
        background: transparent;
        border: 1px solid black;
        font-size: 16px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .quantityAndImage {
    display: flex;
    flex-direction: row;

    .quantity {
      margin-right: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .smallButton {
        height: 45px;
        width: 45px;
        background: transparent;
        border: 1px solid black;
        font-size: 16px;
      }
    }

    .imgContainer {
      height: 185px;
      width: 141px;

      .cartitemimg {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
