.miniCart {
    width: 325px;

    .miniCartTitle {
        
        p {
            font-size: 16px;
            font-weight: 700;

            span {
                font-weight: 500;
            }
        }
    }
}