nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  .categories {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .selectedCategory {
      height: 100%;
      background: transparent;
      border: none;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      color: #5ece7b;
      border-bottom: 2px solid #5ece7b;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    .category {
      height: 100%;
      background: transparent;
      border: none;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;
    }
  }

  .logoContainer {
    width: auto;
  }

  .currencyAndCart {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .currencies {
      border: none;
      outline: none;
      font-size: 18px;

      option {
        border: none;
        outline: none;
        text-decoration: none;
      }
    }

    .cart {
      margin-left: 22px;
    }
  }
}
