nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  .categories {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    

    .selectedCategory {
      height: 100%;
      background: transparent;
      border: none;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      color: #5ece7b;
      border-bottom: 2px solid #5ece7b;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-right: 32px;
    }

    .category {
      height: 100%;
      background: transparent;
      border: none;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;
      margin-right: 32px;
    }
  }

  .logoContainer {
    width: auto;
  }

  .currencyAndCart {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navCurrencyContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      .storeCurrency {
        font-size: 18px;
        font-weight: 500;
      }

    .arrow {
        margin-left: 8px;
      }
    }

    .navCartContainer {
      height: 50px;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      cursor: pointer;

      .cart {
        margin-left: 22px;
        margin-right: 10px;
        height: 20px;
      }

      .cartNumber {
        height: 20px;
        width: 20px;
        color: white;
        background-color: black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5px;
      }
    }
  }
}
